<!DOCTYPE html>
<html>

<head>
  <title>Exercise Tracker | freeCodeCamp</title>
  <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container">
    <h1>Exercise tracker</h1>
    <form id="users-form" action="/api/users" method="post">
      <h2>Create a New User</h2>
      <p><code>POST /api/users</code></p>
      <input id="uname" type="text" name="username" placeholder="username" />
      <input type="submit" value="Submit" />
    </form>
    <form id="exercise-form" method="post">
      <h2>Add exercises</h2>
      <p><code>POST /api/exercises/:_id/exercise</code></p>
      <input id="uid" type="text" name=":_id" placeholder=":_id*" />
      <input id="desc" type="text" name="description" placeholder="description*" />
      <input id="dur" type="number" name="duration" placeholder="duration* (mins.)" />
      <input id="date" type="date" name="date" placeholder="date (yyyy-mm-dd)" />
      <input type="submit" value="Submit" />
    </form>

    <form id="get-exercise-form" method="get">
      <h2>Get exercise by user id</h2>
      <p><code>GET /api/exercises/:_id/logs?[from][&to][&limit]</code></p>
      <input id="euid" type="text" name=":_id" placeholder=":_id*" required/>
      <input id="from" type="date" name="from" placeholder="from" required/>
      <input id="to" type="date" name="date" placeholder="to"/>
      <input id="limit" type="number" name="limit" placeholder="limit"/>
      <input type="submit" value="Submit" />
    </form>

    <button onclick="getAllUsers()">Get all users</button>
    <p>
      <strong>GET user's exercise log: </strong>
      <code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code>
    </p>
    <p><strong>[ ]</strong> = optional</p>
    <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
  </div>

  <div class="users">
    <strong>// Users</strong>
    <div id="users-block"></div>
    <strong>// Exercises</strong>
    <div id="exercise-block"></div>
  </div>
  <script src="exercise.js"></script>
  <script src="user.js"></script>
</body>
</html>